body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

@media only screen and (max-width : 992px) {
	header, main, footer, nav {
		padding-left: 0;
	}
}

.round-btn {
	border-radius: 20px;
	margin: -33px 10px;
	text-transform: none;
}

.card {
	border-radius: 5px;
}